*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    cursor: pointer;
}
#wrapper{
    width: 100%;
    height: 100vh;

}
#header {
    width: 100%;
    padding: 0px 30px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu {
    list-style: none;
    display: flex;
}
#menu .item{
    margin: 0px 25px;
}
#menu .item a{
    color: darkgrey;
    text-decoration: none;
}
#actions {
    display: flex;
}
#actions .item{
    margin-left: 22px;
}
#banner {
    width: 100%;
    background-image: url(banner.jpg);
    margin-top: 20px;
    height: 400px;
    display: flex;
    padding: 100px;
    position: relative;
}
#banner .box-left ,#banner .box-right {
    width: 100%;
}
#banner .box-left h2{
    font-size: 50px;
    margin-left: 330px;
    color:whitesmoke;
    position: absolute;
    top: 20px;
}
#banner .box-left button{
    margin-top: 40px;
    width: 200px;
    height: 40px;
    margin-left: 420px;
    background:#1d1a1a;
    border: none;
    outline: none;
    color: aliceblue;
    font-weight: bold;
    border-radius: 20px;
    transition: 0,4s;
}
#banner .box-left button:hover{
    background: orange;
}

#wp-products{
    padding-top: 40px;
    padding-bottom: 78px;
    padding-left: 134px;
    padding-right: 134px;
}
#wp-products h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    color: darkgray;
}
#list-products {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}
#list-products .item{
    width: 290px;
    height: 374px;
    background: #1d1a1a;
    border-radius: 10px;
    margin-bottom: 50px;
}