#slide{
    width: 1300px;
    height: 570px;
    background-color:white;
}
#hinh{
    position: absolute;
    top: 30px;
    width: 1200px;
    height: 500px;
    padding-left: 50px;
}
#mota{
    position: absolute;
    top: 70%;
    left: 45%;
    color:red;
    font-size: 50px;
}
#vitri{
    position: absolute;
    top:50px;
    left: 70px;
    color: aliceblue;
}
#radio{
    position: absolute;
    bottom: 100px;
    right: 45%;
}
.fa.fa-chevron-circle-left{
    position: absolute;
    top: 35%;
    left: 60px;
    font-size: 40px;
    color: white;
}
.fa.fa-chevron-circle-right{
    position: absolute;
    top: 35%;
    right: 55px;
    font-size: 40px;
    color: white;
}